.login-container {
    margin-top: 20%;
    border: 1px solid var(--bs-blue);
    padding: 10px;
    background-color: white;
}
.login-background{
    background-color: var(--bs-gray-700);
    height: 100vh;
}